@import url('https://fonts.googleapis.com/css?family=AlegreyaAmatic+SCIQuattrocento');

	body {
	font-family: Quattrocento, serif;
	margin: 0 auto;
	max-wdith: 600px;
	background: #ffffff;
	}

	a {
	color: #444444;	
	}

	h1{
	font-family: 'Alegreya', serif;
	text-align: left;
	font-size: 35px;
	color: #444444;
	margin: 60px 0 60 0;
	position: relative;
	}

	p {
	color: #000ccc;
	background: white;
	padding: 10px;
	text-align: justify;
	position: float;
	}

	div {

	}

@media (max-wdith: 500px) {
	h1 {
	font-size: 25px;	
	}
}
