body {
  display: flex;
  margin: auto;
  width: 80%;
  left: 0;
  right: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  white-space: pre-line;
}

#header {
  width: 100%;
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

#content {
  flex: 2;
}
a {
  color: #ba0020;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

button {
  color: white;
  background: black;
  border: none;
  border-color: black;
  border-width: 2px;
  border-radius: 60px;
  font-size: 1em;
  padding: 5px;
  margin: 10px 10px;
  width: 120px;
  height: 120px;
}
button:hover {
  background: #ba0020;
}
#nav {
  margin: 0px;
  padding: 5px;
}
h1 {
  font-size: 2.5em;
  color: black;
  font-family: "DM Serif Display", serif;
}
h4 {
  font-size: 1.3em;
}
h2 {
  font-size: 2.5em;
  font-family: "DM Serif Display", serif;
  font-style: italic;
}
img {
  width: 100%;
}
blockquote {
  width: 80%;
}
small {
  white-space: pre-line;
  width: 80%;
}

#loading {
  width: 200px;
  height: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#heading {
  font-size: 3em;
  font-family: "DM Serif Display", serif;
  align-self: flex-start;
  flex: 2;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 5px;
  }

  #header {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 90%;
  }
  blockquote {
    width: 95%;
  }
  button {
    width: 70%;
    height: 40px;
    text-align: center;
  }
}
